<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Survey Form</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form_style.css') }}">
    </head>
    <body>
        <header>
            <div id="title"><h1>Education</h1>
        </header>

        <form id="survey-form" action="/add_education" method="post">

            <div id="description"> Let us know how we can improve our service</div><br>

            <fieldset class="fieldset">
            
                <div class="sub-group">
                    <label class="left" id="name-label" for="institute_name">Institute Name:</label>
                    <input type="text" name="institute_name" class="right input-field" id="name" placeholder="Enter institute name" required>
                </div>
              
                <div class="sub-group">
                    <label class="left" id="email-label" for="degree">Degree:</label>
                    <input type="text" name="degree" class="right input-field" placeholder="Enter your degree" id="email" required>
                </div>
              
                <div class="sub-group">
                    <label  class="left" id="number-label" for="number">Graduation Year:</label>
                    <input type="number" name="graduation_year" placeholder="Enter the year" min="1" max="100" class="right input-field" id="number">
                </div>
              
                <div class="sub-group">
                    <label class="left" id="handphone-label" for="handphone">User ID:</label>
                    <input type="text" name="user_id" placeholder="Enter your id" class="right input-field" id="handphone">
                </div>
              
                <div class="sub-group">
                    <label class="left" for="dropdown">How many hours do you spend learning?</label>
                
                    <select class="right dropdown" id="dropdown" name="dropdown">
                        <option selected disabled>Select an option</option>
                        <option value="first">More than 4hrs</option>
                        <option value="never">Less than 4hrs</option>
                    </select>
                </div>
            </fieldset>
        
            <fieldset class="fieldset">
                <h2>Any comments or suggestions?</h2>
                <div class="commentbox">
                    <textarea rows="4"  placeholder="Enter your comment here..."></textarea>
                    <br></br>
                    <button id="submit" type="submit">Submit</button>
                </div>
            </fieldset>
        </form>
        </div>
    </body>
</html>