<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown Example</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new.css') }}">
  <script src="{{ url_for('static', filename='toast.js') }}"></script>
</head>

<body>
  <ul class="notifications"></ul>

  <div class="logout-btn">
    <form action="/logout" method="post">
      <button type="submit" name="type" value="rec">Logout</button>
    </form>
  </div>
  
  <div class="dropdown-container">
    <select id="dropdownMenu1" name="category" required>
      <option value="" disabled selected>Find users based on</option>
      <option value="sk_wE">Skills and Work Experience</option>
      <option value="ce_pr">Certificates and Projects</option>
      <option value="ed_sk">Education and Skills</option>
      <option value="no_pro">Number of projects</option>
      <option value="no_jo">Number of Jobs worked</option>
      <option value="no_cer">Number of certificates</option>
    </select>
  </div>

  <div class="proceed-btn">
    <form id="proceedForm" action="/proceed" method="post">
      <button type="submit" name="option">Proceed</button>
    </form>
  </div>

  <script>
    document.getElementById('proceedForm').addEventListener('submit', function() {
      var dropdown = document.getElementById('dropdownMenu1');
      var button = document.querySelector('.proceed-btn button');
      button.value = dropdown.value;
    });
    const messages = "{{ message }}";
    const information = "{{info}}";
  </script>
</body>

</html>
