<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Responsive Resume UI Design in HTML and CSS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='res.css') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="resume_wrapper">
	<div class="resume_left">
		<!-- <div class="resume_image">
			<img src="pic.jpg" alt="Resume_image">
		</div> -->
		<div class="resume_bottom">
			<div class="resume_item resume_namerole">
				<div class="name">{{details.user.name}}</div>
				<div class="role">UI Designer</div>
			</div>
			<div class="resume_item resume_profile">
				<div class="resume_title">Profile</div>
				<div class="resume_info">Results-driven individual with a passion for achieving excellence and a proven track record of delivering results. With a diverse background in [mention your background or industry], I bring a unique perspective and a collaborative mindset. Eager to contribute my skills and expertise to dynamic projects and collaborate with forward-thinking teams. Known for adaptability, problem-solving, and a commitment to continuous improvement.</div>
			</div>
			<div class="resume_item resume_address">
				<div class="resume_title">Address</div>
				<div class="resume_info">
					18th home,<br/>
					woods street,<br/>
					New York City, United States
				</div>
			</div>
			<div class="resume_item resume_contact">
				<div class="resume_title">Contact</div>
				<div class="resume_info">
					<div class="resume_subtitle">Phone</div>
					<div class="resume_subinfo">+91 {{details.user.phone_no}}</div>
				</div>
				<div class="resume_info">
					<div class="resume_subtitle">Email</div>
					<div class="resume_subinfo">{{details.user.email}}</div>
				</div>
			</div>
			<div class="resume_item resume_skills">
				<div class="resume_title">Skills</div>
				<div class="resume_info">
				{% for skill in details.skills %}
					{% set prof = {'Excellent': '95%', 'Good': '70%', 'Medium': '45%', 'Poor': '20%'} %}
					<div class="skills_list">
						<div class="skills_left">{{ skill.skill_name }}</div>
						<div class="skills_bar">
							<p>
								<span style="width: {{prof[skill.proficiency]}}"></span>
							</p>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="resume_item resume_skills">
				<div class="resume_title">Interests</div>
				<div class="resume_info">
					<div class="interests">
						<div class="int_icon">
							<i class="fas fa-volleyball-ball"></i>
						</div>
						<div class="int_data">Volleyball</div>
					</div>
					<div class="interests">
						<div class="int_icon">
							<i class="fas fa-book-open"></i>
						</div>
						<div class="int_data">Reading</div>
					</div>
					<div class="interests">
						<div class="int_icon">
							<i class="fas fa-film"></i>
						</div>
						<div class="int_data">Movies</div>
					</div>
					<div class="interests">
						<div class="int_icon">
							<i class="fas fa-biking"></i>
						</div>
						<div class="int_data">Riding</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="resume_right">
		<!-- <i class="bi bi-download"></i> -->
		<div class="resume_item resume_namerole">
			<div class="name">{{details.user.name}}</div>
			<div class="role">Born on {{details.user.dob}}</div>
		</div>
		<div class="resume_item resume_education">
			<div class="resume_title">Education</div>
			<div class="resume_info">
			{% for education in details.education %}
        		<div class="resume_data">
        		    <div class="year"></div> 
        		    <div class="content">
        		        <p>{{ education.institute_name }}</p>
						<p>{{ education.degree }}</p>
						<p>Completion Year: {{ education.graduation_year }}</p>
        		    </div>
        		</div>
    		{% endfor %}
			</div>
		</div>
		<div class="resume_item resume_experience">
			<div class="resume_title">Work Experience</div>
			<div class="resume_info">
				{% for experience in details.works_exp %}
				<div class="resume_data">
					<div class="year"></div> 
					<div class="content">
						<p>{{experience.company}}</p>
						<p>{{experience.job_title}}</p>
						<p>{{experience.job_desc}}</p>
						<p>{{experience.no_of_years}} years of experience</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
        <div class="resume_item resume_experience">
			<div class="resume_title">Projects</div>
			<div class="resume_info">
				{% for project in details.projects %}
				<div class="resume_data">
					<div class="year"></div>
					<div class="content">
						<p>{{project.project_name}}</p>
						<p>{{project.proj_desc}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="resume_item resume_education">
			<div class="resume_title">Certificates</div>
			<div class="resume_info">
			{% for certificate in details.certificates %}
        		<div class="resume_data">
        		    <div class="year"></div> 
        		    <div class="content">
        		        <p>{{ certificate.certificate_name }}</p>
						<p>By {{ certificate.organisation }}</p>
						<p>Issue Date: {{ certificate.issue_date }}</p>
        		    </div>
        		</div>
    		{% endfor %}
			</div>
		</div>
	</div>
</div>

</body>
</html>